<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "sample app", root_path, id: "logo" %>
        <!--<a href='#', id="logo">sample app</a>-->
        <!--aタグでも書けるが、#のところがstatic_pages_urlになると、rubyの文法なので、link_toメソッドである必要がある。erbの内部だと、変数やメソッドを入れる
        ことができる。id: "logo"の部分は、オプション引数といって、メソッドに好きなだけハッシュをバンバンバンバン渡すことができる。
        -->
        
    <nav>
    <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Help",   help_path %></li>
        <% if logged_in? %>
            <li><%= link_to "Users", '#' %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
             <ul class="dropdown-menu">
               <li><%= link_to "Profile", current_user %></li> 
               <!--=> redirect_to とデフォルトが同様で、オブジェクトを渡すとuser_path になる。
               helperメソッドは、viewではどこでも呼び出せる。どこに定義しているかが分かりやすいように、sessions/helper.rbで定義した。
               controller では、リソースがcontrollerとhelperでリソースが異なる場合は、include する必要がある。-->
               <li><%= link_to "Settings", '#' %></li>
               <li class="divider"></li>
               <li>
                 <%= link_to "Log out", logout_path, method: :delete %>
              </li>
             </ul>
            </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
    </ul>
    </nav>
      </div>
    </header>